*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
html{
    font-size: 8px;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
body{
    height: 100%;
    width: 100%;
}
nav{
    padding-top: 5rem;
    height: 10%;
    width: 100%;
}
.nav-bar{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo i{
   color: blue;
   font-size: 3rem;
}
.logo p{
    margin-left: 8px;
    font-size: 3rem;
    font-weight: 600;
}
.links{
    width: 25%;
}
.links ul{
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: bold;
}
.links ul li a{
    text-decoration: none;
    color: grey;
    transition: color 0.2s;
}
.links ul li a:hover{
    color: blue;
}
.btn button{
    padding: 1.5rem 3rem;
    background-color: blue;
    border: none;
    outline: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    transition: all 0.5s;
}
.btn button:hover{
    background-color: rgb(26, 26, 199);
}
.bars{
    display: none;
}
.hero{
    margin: 5rem auto;
    height: fit-content;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.image img{
    height: 55rem;
}
.text-content{
    position: relative;
    width: 37%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    animation-name: textmovement;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#hero-1{
    color: blue;
    font-size: 1.65rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
#hero-2{
    margin: 3.5rem 0;
    width: 82%;
    color: grey;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 2.35rem;
}
.text-content h1{
    font-size: 6rem;
    font-weight: 800;
    color: black;
}
.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}
.btn-1{
    padding: 1.25rem 1.5rem;
    background-color: blue;
    border: none;
    outline: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    transition: all 0.5s;
}
.btn-2{
    padding: 1.25rem 1.5rem;
    background-color: rgb(50, 49, 49);
    border: none;
    outline: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    transition: all 0.5s;
}
.mini-hero{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation-name: textmovement;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.mini-hero h1{
    font-size: 4.5rem;
    font-weight: 800;
    color: black;
}
.companies{
    margin: 3.5rem 0;
    background-color: rgb(240, 240, 240);
    color: rgb(91, 89, 89);
    display: grid;
    gap: 8rem;
    grid-template-areas:
        "google microsoft linkedin vectoredu"
    ;
    padding: 3rem;
    border-radius: 1rem;
}
.companies i{
    font-size: 2.75rem;
}
.google{
    grid-area: google;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.75rem;
    font-weight: 900;
}
.microsoft{
    grid-area: microsoft;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.75rem;
    font-weight: 900;
}
.linkedin{
    grid-area: linkedin;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.75rem;
    font-weight: 900;
}
.vectoredu{
    grid-area: vectoredu;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.75rem;
    font-weight: 900;
}
.middle{
    padding: 4rem;
    height: fit-content;
    width: 100%;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-content-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text-content-2 h1{
    font-size: 4rem;
    font-weight: 800;
    color: black;
}
.text-content-2 p{
    width: 55%;
    color: grey;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.35rem;
    padding: 2rem 0;
}
.cards{
    display: grid;
    grid-template-areas: 
        "pl af"
        "ip it"
        "rs ai"
    ;
    gap: 2.5rem;
    width: 50%;
}
.pl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: rgb(0, 153, 255);
    font-size: 1.7rem;
    font-weight: 500;
    padding: 3.5rem;
    row-gap: 1.5rem;
    border-radius: 1.8rem;
    text-align: center;
    grid-area: pl;
}
.pl i{
    font-size: 2.4rem;
    border-radius: 50%;
    background-color: white;
    padding: 1.4rem;
    color: rgb(0, 153, 255);
}
.af{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: rgb(255, 0, 153);
    font-size: 1.7rem;
    font-weight: 500;
    padding: 3.5rem;
    row-gap: 1.5rem;
    border-radius: 1.8rem;
    text-align: center;
    grid-area: af;
}
.af i{
    font-size: 2.4rem;
    border-radius: 50%;
    background-color: white;
    padding: 1.4rem;
    color: rgb(255, 0, 153);
}
.ip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: rgb(255, 166, 0);
    font-size: 1.7rem;
    font-weight: 500;
    padding: 3.5rem;
    row-gap: 1.5rem;
    border-radius: 1.8rem;
    text-align: center;
    grid-area: ip;
}
.ip i{
    font-size: 2.4rem;
    border-radius: 50%;
    background-color: white;
    padding: 1.4rem;
    color: rgb(255, 166, 0);
}
.it{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: rgb(0, 255, 217);
    font-size: 1.7rem;
    font-weight: 500;
    padding: 3.5rem;
    row-gap: 1.5rem;
    border-radius: 1.8rem;
    text-align: center;
    grid-area: it;
}
.it i{
    font-size: 2.4rem;
    border-radius: 50%;
    background-color: white;
    padding: 1.4rem;
    color: rgb(0, 255, 217);
}
.rs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: rgb(46, 134, 52);
    font-size: 1.7rem;
    font-weight: 500;
    padding: 3.5rem;
    row-gap: 1.5rem;
    border-radius: 1.8rem;
    text-align: center;
    grid-area: rs;
}
.rs i{
    font-size: 2.4rem;
    border-radius: 50%;
    background-color: white;
    padding: 1.4rem;
    color: rgb(46, 134, 52);
}
.ai{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: rgb(110, 58, 142);
    font-size: 1.7rem;
    font-weight: 500;
    padding: 3.5rem;
    row-gap: 1.5rem;
    border-radius: 1.8rem;
    text-align: center;
    grid-area: ai;
}
.ai i{
    font-size: 2.4rem;
    border-radius: 50%;
    background-color: white;
    padding: 1.4rem;
    color: rgb(110, 58, 142);
}
.testimonial{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.testimonial h1{
    padding: 3.5rem;
    font-size: 4rem;
    font-weight: 800;
    color: black;
    text-align: center;
}
.testimonial-cards{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.test{
    padding: 2rem;
    margin: 0.5rem 3rem 3rem 3rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.15s ease-in;
}
.test:hover{
    transform: scale(1.08);
    border: solid 1px blue;
}
.name{
    color: blue;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.35rem;
}
.para, .details{
    color: grey;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.35rem;
    text-align: center;
}
.testimonial-cards img{
    height: 10rem;
    border-radius: 50%;
    margin: 2rem 0;
}
.newsletter-parent{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter{
    max-width: 1100px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: rgb(240, 240, 240);
    margin: 2rem 3rem 3rem 3rem;
}
.newsletter img{
    width: 50%;
    border-radius: 1rem 0 0 1rem;
}
.newsletter-form{
    padding: 2.5rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter-form h2{
    font-size: 4rem;
    font-weight: 800;
    color: blue;
}
.up{
    color: grey;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2rem;
}
.down{
    color: grey;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
}
.newsletter-form a{
    color: blue;
    font-size: 1.45rem;
    text-decoration: underline;
}
.newsletter-form form{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: start;
}
.newsletter-form input{
    border: solid 0.5px rgb(157, 157, 157);
    outline: none;
    padding: 0.75rem;
    border-radius: 0.4rem;
}
.newsletter-form button{
    padding: 0.9rem 1.5rem;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    margin-left: 1rem;
}
.footer{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 5rem 0;
}
.logo-2{
    display: flex;
    align-items: center;
}
.logo-2 i{
    color: blue;
    font-size: 2.5rem;
 }
 .first{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
 }
 .first p{
    color: grey;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
 }
 .logo-2 p{
    color: black;
    margin-left: 6px;
    font-size: 2.5rem;
    font-weight: 600;
}
.icons i{
    margin-right: 2rem;
    font-size: 2.5rem;
    color: grey;
}
.footer-links{
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1.35rem;
    font-weight: 600;
    line-height: 2rem;
    gap: 2rem;
    position: relative;
}
.link-name{
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 2rem;
    color: black;
}
.footer-links li a{
    text-decoration: none;
    color: grey;
}
hr{
    color: rgb(97, 97, 97);
    max-width: 1130px;
    margin: 0 auto;
}
.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: grey;
    padding: 2rem 2rem 4rem 2rem;
}
footer{
    margin: 0 3rem;
    position: relative;
}
.arrow{
    position: absolute;
    bottom: 5rem;
    right: 2rem;
    font-size: 3.5rem;
    background-color: blue;
    color: white;
    border-radius: 50%;
    padding: 1.5rem 2rem;
    transition: transform 0.2s linear;
}
.arrow:hover{
    transform: scale(1.25);
}

@keyframes textmovement{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width:1300px){
    .arrow{
        bottom: 10rem;
        font-size: 3rem;
    }
}

@media screen and (max-width:950px){
    .btn{
        display: none;
    }
    .links{
        display: none;
    }
    .bars{
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 3rem;
    }
    .nav-bar{
        justify-content: space-between;
        width: 85%;
        margin: 0 auto;
    }
    .hero{
        flex-direction: column;
    }
    .text-content{
        width: 75%;
        align-items: center;
        text-align: center;
    }
    .cards{
        width: 70%;
    }
    .text-content-2 p{
        width: 80%;
        padding: 2rem;
    }
    .testimonial-cards{
        width: 90%;
    }
    .test{
        padding: 1.2rem;
    }
    .name{
        font-size: 1.6rem;
    }
    .para, .details{
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    .testimonial-cards img{
        height: 8rem;
        margin: 1rem 0;
    }
    .newsletter-form h2{
        font-size: 3rem;
    }
    .up{
        font-size: 1.5rem;
    }
    .down{
        font-size: 1.15rem;
    }
    .newsletter-form form{
        margin: 1.5rem 0;
    }
    .newsletter-form a{
        font-size: 1.3rem;
    }
    .newsletter-form input{
        padding: 0.5rem;
    }
    .newsletter-form button{
        padding: 0.75rem 1.25rem;
        font-size: 1.25rem;
    }
}

@media screen and (max-width:840px){
    .cards{
        width: 85%;
    }
    .text-content-2{
        width: 90%;
    }
    .testimonial-cards{
        flex-wrap: wrap;
    }
    .companies{
        gap: 5.5rem;
        grid-template-areas:
            "google microsoft linkedin vectoredu"
        ;
        padding: 2.5rem;
        border-radius: 1rem;
    }
    .footer-links ul{
        max-width: 5rem;
    }
    .arrow{
        display: none;
    }
}

@media screen and (max-width:640px){
    .newsletter img{
        display: none;
    }
    .newsletter-parent{
        background-color:  rgb(240, 240, 240);
    }
    .newsletter{
        width: 100%;
    }
    .newsletter-form{
        width: 100%;
    }
    .nl-form-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer-links{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1.5rem;
    }
    .footer-links ul{
        max-width: 100%;
        gap: 0.5rem;
        align-items: center;
        text-align: center;
        line-height: 1.5rem;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
    .first{
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:580px){
    .hero{
        padding: 0 1.5rem;
    }
    .image img{
        max-height: 40rem;
    }
    .companies{
        grid-template-areas: 
            "google microsoft"
            "linkedin vectoredu"
        ;
    }
    .cards{
        width: 100%;
        grid-template-areas: 
            "pl"
            "af"
            "ip"
            "it"
            "rs"
            "ai"       
        ;
    }
    .text-content-2 p{
        width: 100%;
        padding: 2rem;
    }
    .testimonial-cards{
        flex-direction: column;
    }
    .test{
        width: 100%;
        padding: 1.5rem;
        margin: 1.5rem auto 1.5rem auto;
    }
}